<p id="notice"><%= notice %></p>

<h1 class="tweets-h1">Tweets</h1>



  <body>
    <% @tweets.each do |tweet| %>

    <div class="tweet-container">

      <p class="tweet-user">  <%= tweet.user.email %> </p>

      <p class="tweet-message">  <%= tweet.message %> </p>
      <div class="like-container">
      <%= link_to like_tweet_path(tweet), method: :put do %>
      <div class="like-heart"><%= current_user.voted_as_when_voted_for(tweet) == true ? fa_icon("heart") : fa_icon("heart-o") %>
        <%end%>

        <%= tweet.score %>
      </div>

        <% tweet.votes_for.voters.each do |voter| %>
          <%= "#{voter.email},  "%>
            <%end%>
      </div>
      </div>

        <div class="tweet-action-container">
          <%= link_to tweet do %>
          <div class="edit-button">
            View
          </div>
          <% end %>

            <%= link_to edit_tweet_path(tweet) do %>
            <div class="edit-button">
              Edit
          </div>
          <% end %>

            <%= link_to tweet, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <div class="edit-button">
              Delete
          </div>
          <% end %>
    </div>

    <div class="tweet-seperator"></div>


    <% end %>


    <%= link_to new_tweet_path do %>
    <div class="newpost-button">New Tweet</div>
    <% end %>
</body>
