<p id="notice"><%= notice %></p>

<h1 class="tweets-h1">Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <body>
    <% @tweets.each do |tweet| %>
    <div class="tweet-container">

      <p class="tweet-user">  <%= tweet.user.email %> </p>

      <p class="tweet-message">  <%= tweet.message %> </p>

      <div class="like-container">
      <%= link_to like_tweet_path(tweet), method: :put do %>
        <div class="like-button">Like</div>
        <%end%>

        <%= link_to dislike_tweet_path(tweet), method: :put do %>
          <div class="like-button">Dislike</div>
        <%end%>
        Likes:
        <%= tweet.score %>
        
        <% tweet.votes_for.voters.each do |voter| %>
          <%= "#{voter.email},  "%>
            <%end%>
      </div>
      </div>

        <div class="tweet-action-container">
          <%= link_to tweet do %>
          <div class="edit-button">
            View
          </div>
          <% end %>

            <%= link_to edit_tweet_path(tweet) do %>
            <div class="edit-button">
              Edit
          </div>
          <% end %>

            <%= link_to tweet, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <div class="edit-button">
              Delete
          </div>
          <% end %>
    </div>



    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
