<!DOCTYPE html>
<html>
  <head>
    <title>Twittiam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- The Navbar -->
<%= render 'partials/nav' %>

    <!-- Alerts and notices for devise actions -->
    

    <%= yield %>
  </body>
</html>
